<html>
  <head>
    <title>Homeworks</title>
    <link rel="stylesheet" type="text/css" href="/lib/spy/sim.css" />
    <link rel="stylesheet" type="text/css" href="/sim/quest/quest.css" />
    <link rel="stylesheet" type="text/css" href="/homework/homework.css" />
    <link rel="stylesheet" href="/lib/codemirror/codemirror.css" />
    <link rel="stylesheet" href="/lib/codemirror/theme/paraiso-light.css" />
    <script type="text/javascript" src="https://code.angularjs.org/1.4.0-rc.2/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.4.0-rc.2/angular-cookies.js"></script>
    <script type="text/javascript" src="/homework/homework.js"></script>
    <script type="text/javascript" src="/lib/codemirror/codemirror.js"></script>
    <script type="text/javascript" src="/sim/quest/quest.js"></script>
    <script type="text/javascript" src="/lib/spy/expr_ng.js"></script>
    <script type="text/javascript" src="/lib/spy/sim.js"></script>
  </head>
  <body ng-app="app">
    <div class="quest" ng-controller="HomeworkController">
      <div class="quest_controls">
	<select ng-change="switch_hw()" ng-model="homework_id" ng-options="h.index as h.name for h in homeworks"></select>
	<div style="display:inline-block;"><b>{{homeworks[homework_id].name}}</b></div>
	<div class="homework_button" ng-click="submit_homework()">Save all problems</div>
	<div style="display:inline-block;font-size:10px;height:100%;"><span style="display:inline-block;vertical-align:middle">You
	  may save as many times as you like.  <br />Your last save
	  before the deadline <br />will count as your
	  submission.</span></div>
	<div class="homework_status">Status: {{hw_status}}</div>
      </div>
      <exploration template="/sim/quest/quest.html" quest_name="{{homeworks[homework_id].file}}">
      </exploration>
      <!-- Lightbox for verification --> 
      <div class="lightbox_background" ng-if="verify_submission == true" ng-click="exit_verify()">
	<div class="lightbox_foreground" ng-click="$event.stopPropagation()">
	  <div style="width:100%;text-align:center;"><b>Verify that
	  these are your desired answers.  <br /><br />Then press
	  "Save" at the bottom.  <br /><br />These will overwrite any
	  previously saved answers.  <br /><br />You can save as
	  many times as you like before the deadline.</b><br /><br /></div>
	  <div ng-repeat="p in submission_programs track by $index">
	    <b>{{submission_problems[$index].id}}: </b>
	    <pre>{{p}}</pre>
	  </div>
	  <div style="width:100%;text-align:center;font-size:12pt;">
	    <div class="homework_button" ng-click="exit_verify()">Cancel</div>
	    <div class="homework_button" ng-click="submit_homework_for_real();$event.stopPropagation()">Save</div>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
