.minipy-editor {
	width: 100%;
  height: 384px;
  margin: 32px 0;
  padding: 0;
  position: relative;
  display: inline-block;
  /*background-color: rgb(233, 88, 80);*/
	/*background-color: rgb(248, 248, 248);*/
  font-family: "Roboto", "HelveticaNeue", "Helvetica", "Arial", sans-serif; }

.mp-controls {
  width: 100%;
  height: 64px;
  background-color: #313337;
  cursor: default; }
  .mp-controls .mp-control-button {
    height: 40px;
    margin: 12px 16px 12px 16px;
    padding: 0 32px;
    background: none;
    border-style: none;
    font-size: 14px;
    font-family: inherit;
    color: rgba(255, 255, 255, 0.8);
    background-size: 18px 18px;
    background-position: 8px center;
    background-repeat: no-repeat;
    cursor: pointer; }
    .mp-controls .mp-control-button:hover {
      color: white; }
    .mp-controls .mp-control-button:focus {
      outline: none; }
    .mp-controls .mp-control-button.mp-button-disabled {
      color: #78797b;
      cursor: default; }
    .mp-controls .mp-control-button.mp-button-disabled:hover {
      color: #78797b;
      cursor: default; }
    /*.mp-controls .mp-control-button[data-command="run"] {
      background-image: url("../static/icons/active_run.png"); }
      .mp-controls .mp-control-button[data-command="run"].mp-button-disabled {
        background-image: url("../static/icons/disabled_run.png"); }
    .mp-controls .mp-control-button[data-command="validate"] {
      background-image: url("../static/icons/active_validate.png"); }
      .mp-controls .mp-control-button[data-command="validate"].mp-button-disabled {
        background-image: url("../static/icons/disabled_validate.png"); }
    .mp-controls .mp-control-button[data-command="step"] {
      background-image: url("../static/icons/active_step.png"); }
      .mp-controls .mp-control-button[data-command="step"].mp-button-disabled {
        background-image: url("../static/icons/disabled_step.png"); }
    .mp-controls .mp-control-button[data-command="stop"] {
      background-image: url("../static/icons/active_stop.png"); }
      .mp-controls .mp-control-button[data-command="stop"].mp-button-disabled {
        background-image: url("../static/icons/disabled_stop.png"); }*/

.mp-debugger {
  position: absolute;
  top: 80px;
  right: 8px;
  left: 8px;
  bottom: 16px; }
  .mp-debugger .mp-panel-bordered {
    background-color: white;
    border: 1px solid rgb(157, 156, 156);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  .mp-debugger .mp-panel-description {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 13px;
    color: silver;
    z-index: 100; }
  .mp-debugger .mp-editor {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -8px;
    font-size: 13px;
    overflow: hidden; }
    .mp-debugger .mp-editor.mp-editor-locked .mp-panel-description {
      width: 88px;
      background-image: url("../static/icons/lock.png");
      background-size: 16px 16px;
      background-position: left center;
      background-repeat: no-repeat;
      text-align: right; }
    .mp-debugger .mp-editor.locked .CodeMirror {
      background-color: #f8f8f8; }
    .mp-debugger .mp-editor .CodeMirror {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      cursor: text; }
      .mp-debugger .mp-editor .CodeMirror .CodeMirror-lines {
        padding: 12px 0; }
        .mp-debugger .mp-editor .CodeMirror .CodeMirror-lines .CodeMirror-line {
          height: 18px;
          padding-left: 8px;
          line-height: 18px; }
      .mp-debugger .mp-editor .CodeMirror .CodeMirror-linenumber {
        padding-right: 8px;
        font-size: 10px;
        line-height: 19px; }
    .mp-debugger .mp-editor .mp-active-line {
      background-color: #e0e0e0; }
    .mp-debugger .mp-editor .mp-active-line-right {
      border-radius: 0 4px 4px 0; }
    .mp-debugger .mp-editor .mp-active-line-left {
      border-radius: 4px 0 0 4px; }
    .mp-debugger .mp-editor .mp-error-token {
      border-bottom: solid #e74c3c 2px; }
    .mp-debugger .mp-editor .mp-banner {
      height: 24px;
      padding: 12px 24px 12px 64px;
      display: inline-block;
      position: absolute;
      right: 16px;
      bottom: 16px;
      background-size: 36px;
      background-position: 12px center;
      background-repeat: no-repeat;
      border-radius: 4px;
      box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      color: white;
      z-index: 1000; }
      .mp-debugger .mp-editor .mp-banner.mp-banner-type-generic {
        background-color: #95a5a6;
        padding-left: 24px; }
      .mp-debugger .mp-editor .mp-banner.mp-banner-type-ok {
        background-color: #27ae60;
        background-image: url("../static/icons/banner_ok.png"); }
      .mp-debugger .mp-editor .mp-banner.mp-banner-type-warning {
        background-color: #f1c40f;
        background-image: url("../static/icons/banner_error.png"); }
        .mp-debugger .mp-editor .mp-banner.mp-banner-type-warning::before {
          content: "Warning: ";
          font-weight: bold; }
      .mp-debugger .mp-editor .mp-banner.mp-banner-type-error {
        background-color: #e74c3c;
        background-image: url("../static/icons/banner_error.png"); }
        .mp-debugger .mp-editor .mp-banner.mp-banner-type-error::before {
          content: "Error: ";
          font-weight: bold; }
  .mp-debugger .mp-runtime {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    right: -8px; }
    .mp-debugger .mp-runtime .mp-wrapper {
      position: absolute;
      top: 0;
      right: 8px;
      bottom: 0;
      left: 8px; }
    .mp-debugger .mp-runtime ul {
      margin: 0;
      padding: 44px 0 8px 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      list-style: none;
      overflow-y: scroll; }
      .mp-debugger .mp-runtime ul li {
        height: 24px;
        margin: 0 8px;
        padding: 0;
        list-style: none;
        font: 13px/24px "Source Code Pro", monospace; }
        .mp-debugger .mp-runtime ul li.mutating {
          background-color: #e0e0e0;
          border-radius: 4px; }
        .mp-debugger .mp-runtime ul li .value.number {
          color: #33AA33; }
        .mp-debugger .mp-runtime ul li .value.string {
          color: #AA2222; }
          .mp-debugger .mp-runtime ul li .value.string::before {
            content: "\""; }
          .mp-debugger .mp-runtime ul li .value.string::after {
            content: "\""; }
        .mp-debugger .mp-runtime ul li .value.boolean {
          color: #007777;
          text-transform: capitalize; }
    .mp-debugger .mp-runtime .shadow-top {
      width: 100%;
      height: 44px;
      position: absolute;
      top: 0;
      left: 0;
      background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, white 70%);
      z-index: 50; }
    .mp-debugger .mp-runtime .shadow-bottom {
      width: 100%;
      height: 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 70%);
      z-index: 50; }
    .mp-debugger .mp-runtime .mp-scope {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: -8px;
      bottom: 0; }
      .mp-debugger .mp-runtime .mp-scope li .identifier {
        margin-left: 8px;
        font-weight: bold; }
      .mp-debugger .mp-runtime .mp-scope li .value {
        margin-right: 8px;
        float: right; }
    .mp-debugger .mp-runtime .mp-stdout {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      right: -8px;
      bottom: 0; }
      .mp-debugger .mp-runtime .mp-stdout li .value {
        margin-left: 8px; }
      .mp-debugger .mp-runtime .mp-stdout li .origin {
        margin-right: 8px;
        float: right;
        color: silver; }
        .mp-debugger .mp-runtime .mp-stdout li .origin::before {
          content: "Line "; }

@media (max-width: 768px) {
  .mp-debugger {
    height: 784px; }
    .mp-debugger .mp-editor {
      width: auto;
      left: -8px;
      right: -8px; }
    .mp-debugger .mp-runtime {
      width: auto;
      top: 400px;
      left: -8px;
      right: -8px; } }

/*# sourceMappingURL=main.css.map */

