<div class="quest" ng-controller="QuestController">
  <div class="quest_main">
    <div class="quest_panel">
      <div class="quest_title">Questions</div>
      <div ng-repeat="p in quest.problems track by $index" ng-click="set_problem($index)" ng-class="'quest_problem_button ' + ($index == userdata.current_problem ? 'quest_current' : 'quest_other')" >
	{{p.id}}
      </div>
    </div>
    <div class="quest_description">
      <div class="quest_title">Problem description</div>
      <div ng-bind-html="get_html()"></div>
    </div>
    <div class="quest_simulator">
      <!-- <div ng-if="problems[current_problem].type == 'text'" id="super" ng-controller="TextController"> -->
      <!--   <div ng-include="'simpy.html'" ng-repeat="(simid,program) in {'big':'x = 2'}"> -->
      <!--   </div> -->
      <!-- </div> -->
      <!-- <div ng-if="problems[current_problem].type == 'avr'" id="super" ng-controller="AvrExplController"> -->
      <!--   <div ng-include="'simpy.html'" ng-repeat="(simid,program) in {'big':'x = 2'}"> -->
      <!--   </div> -->
      <!-- </div> -->
      <!-- ABC: {{userdata.programs[userdata.current_problem]}} -->
      <div class="quest_title">Workspace</div>
      <div ng-if="quest.problems[userdata.current_problem].type == 'python'" id="super" ng-controller="PySimController">
	<div ng-include="'/sim/py/simpy.html'" ng-repeat="(simid,program) in {'big':quest.programs[userdata.current_problem]}">
	</div>
      </div>
    </div>
  </div>
</div>
